
/* Imposta il font e i colori globali */

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: var(--background--);
}

/* Hero section styling */
#hero {
    background-image: url('hero-bg.jpg');  /* Sostituisci con l'immagine desiderata */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
}

#hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

#hero p {
    font-size: 1.25rem;
}

/* Navbar custom styles */
.navbar {
   background-color: #ebbd30;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.2);
}

.navbar a{
 color: black;

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Button styling */
#btn-hero {
    background-color: #1E2A5E;
    border-color: #004085;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.9);
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Cart overlay */
#cart-items li {
    margin-bottom: 10px;
    list-style-type: none;
}

#cart-items li button {
    margin-left: 10px;
}

/* Featured products and categories cards */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Lazyload image placeholders */
.lazyload {
    opacity: 0;
    transition: opacity 0.5s;
}

.lazyloaded {
    opacity: 1;
}

.cart-overlay {
    position: fixed;
    top: 0; /* Corregge la posizione dall'alto */
    right: 0;
    width: 320px;
    height: 100vh; /* Usa 100% della vista verticale */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    display: none; /* Mantiene nascosto finché non viene attivato */
    padding: 20px;
    z-index: 1000; /* Mantiene il carrello sopra gli altri elementi */
    overflow-y: auto; /* Aggiunge una barra di scorrimento se necessario */
}