
/* Imposta il font e i colori globali */

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f6f0b1;
}

/* Hero section styling */
#hero-content {
    background-image: url('img/hero.jpg');  /* Sostituisci con l'immagine desiderata */
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width:100%;

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Nero con 50% di trasparenza */
  z-index: -1; /* Posiziona l'overlay sotto il contenuto */
}

#hero h1 {
    color:darkgreen;
    font-size: 3.5rem;
    font-weight: bold;
    z-index:2;
}

#hero p {
 color:seagreen;
    font-size: 1.25rem;
    font-weight: bolder;
    z-index:2;
}

/* Navbar custom styles */
.navbar {
   background-color: #ebbd30;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.2);
}

.navbar a{
 color: black;

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Button styling */
#btn-hero {
    background-color: #1E2A5E;
    border-color: #004085;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.9);
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Cart overlay */
#cart-items li {
    margin-bottom: 10px;
    list-style-type: none;
}

#cart-items li button {
    margin-left: 10px;
}

/* Featured products and categories cards */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Lazyload image placeholders */
.lazyload {
    opacity: 0;
    transition: opacity 0.5s;
}

.lazyloaded {
    opacity: 1;
}
